<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  <!--Contact Ruby on Rails Tutorial about the sample app at the-->
  Contact the author Yu Zhang through the facebook:
  <!--<a href="http://railstutorial.org/contact">contact page</a>.-->
  <a href="https://www.facebook.com/zhang.cmu">Author's FB</a>,
</p>